@model TSheet.Data.Registration
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />

<link href="~/Content/css/TSheetCSS/ShowUser_ViewUser.css" rel="stylesheet" />


<div class="p-3 pl-4 ml-4 mt-3 ">
    <button class="btn bg-success " type="submit">
        <h5 class="">@Html.ActionLink("Go To Back", "ShowUser", "Admin", "", new { @class = "text-white" ,@id="backButtonViewUser"})</h5>
    </button>
</div>

<div class="container-fluid">
    <h3 class="text-center">User's Info</h3>

    <div class="center container">
        <dt>
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfJoining) :
        </dt>

        <dd>
            @Convert.ToDateTime(Model.DateOfJoining).ToString("dd/MM/yyyy")
            @* @Html.DisplayFor(model => model.DateOfJoining)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfbirth) :
        </dt>

        <dd>
            @Convert.ToDateTime(Model.DateOfbirth).ToString("dd/MM/yyyy")
        </dd>

        </dl>


    </div>



