@model TSheet.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="" />
    <title>Login</title>

    <!-- ValidationEngine CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-engine/2.6.4/jquery.validationEngine.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-engine/2.6.4/validationEngine.jquery.min.css">
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jQuery-Validation-Engine-master (2)/jQuery-Validation-Engine-master/js/jquery.validationEngine.js"></script>
    <script>
        $("document").ready(function () {
            $("#UserLoginForm").validationEngine('attach');
        })
    </script>
    <link href="~/Content/css/login.css" rel="stylesheet" />
   
</head>

<body>
   <div class="container pt-5 ">
            <div class="bg-white p-3" id="Login-Box">
                <div class="pt-3 bt-5 pl-2 pr-2 ">
                    <div class="text-center">
                        <h1 class="h4 mb-4" id="login-hedding">Welcome</h1>
                    </div>

                    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "UserLoginForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group pt-2">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Email, "Email", new { htmlAttributes = new { @class = "form-control validate[required]  rounded ", @id = "Login-Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group pt-1">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control rounded  validate[required]", @id = "Login-input" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group  pt-3 pl-2">
                                <input type="submit" value="Login" class="btn  rounded text-white" id="input-box-btn">
                            </div>
                            <div class="text-center  pt-3">
                                <h5>Follow Us On</h5>
                                <i class="fa-brands fa-square-facebook "></i>
                                <i class="fa-brands fa-square-twitter pl-2"></i>
                                <i class="fa-brands fa-linkedin pl-2"></i>
                            </div>
                            <div class="text-center pt-5 pb-3" id="llc">
                                ⓒ Fusionstak LLC, 2022
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
</body>
</html>
