@model List<TSheet.Models.AddTimeSheetModel>

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Content/css/user.css" rel="stylesheet" />
@section SideBarAction{
    <div class="p-3">
        <h5 class=""> <i class="fas fa-home" id="SideBar-Icons"></i> @Html.ActionLink("Dashboard", "DashBoard", "SuperAdmin", new { @class = "text-white ", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-user" id="SideBar-Icons"></i> @Html.ActionLink("Create User", "CreateUser", "SuperAdmin", "", new { @class = "text-white ", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""> <i class="fa-solid fa-calendar-days" id="SideBar-Icons"></i> @Html.ActionLink("All Time Sheet", "AllTimeSheet", "TimeSheet", "TimeSheet", new { @class = "text-white ", @id = "SideBar-items " })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-users" id="SideBar-Icons"></i> @Html.ActionLink("Assign Roles", "AssignRoles", "SuperAdmin", "", new { @class = "text-white", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""><i class="fa-sharp fa-solid fa-address-card" id="SideBar-Icons"></i> @Html.ActionLink("Add Projects", "AddProjects", "SuperAdmin", "", new { @class = "text-white", @id = "SideBar-items" })</h5>

    </div>
}

<style>
    .Input-Entry {
        width: 90px;
        height: 40px;
        border-radius: 8px;
    }

    #AddTimeBtn {
        float: right;
        margin-right: 20px;
        width: 200px;
        height: 40px;
        border-radius: 13px;
        background-color: #2E63DD;
    }
</style>


<div class="col-lg-10 col-md-9 p-4 " id="top-body-box" , style="overflow: auto;">
    @using (Html.BeginForm("AddTime", "TimeLogging", FormMethod.Post))
    {

        <input type="submit" value="Save Details" id="AddTimeBtn" class="btn  text-white ">

        <input type="date" id="date_id" name="userdate" required />


        if (Model != null)
        {
            for (var i = 0; i < Model.Count; i++)
            {
                <table class="table">
                    <tr>
                        <td>
                            <b>Project</b>
                            @Html.DropDownListFor(model => model[i].ProjectId,
                      new SelectList(ViewBag.Projects, "Id", "Name"),
                      "Select Projects",
                      new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model[i].ProjectId, "", new { @class = "text-danger w-75" })

                        </td>
                        <td>
                            <b>Monday</b> @Html.EditorFor(m => Model[i].MondayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Tuesday</b> @Html.EditorFor(m => Model[i].TuesdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Wednesday</b> @Html.EditorFor(m => Model[i].WednesdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Thursday</b> @Html.EditorFor(m => Model[i].ThursdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Friday</b> @Html.EditorFor(m => Model[i].FridayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Saturday</b> @Html.EditorFor(m => Model[i].SaturdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Sunday</b> @Html.EditorFor(m => Model[i].SundayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Description</b> @Html.EditorFor(m => Model[i].Description, "", new { htmlAttributes = new { @class = "w-100" } })
                        </td>

                    </tr>
                </table>

            }
        }

    }



</div>