@model List<TSheet.Models.AddTimeSheetModel>

@{
    ViewBag.Title = "User DashBoard";
    Layout = "~/Views/Shared/_UserLayoutPage1.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/Content/css/Addtime.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        var = ("#Input0").val();
        $("#submit0").click(function () {
            alert(6)
        })
    });
</script>



<div class="">
    @using (Html.BeginForm("AddTime", "TimeLogging", FormMethod.Post))

    {


        <input type="submit" value="Save Details" id="AddTimeBtn" class="btn  text-white ">

        <input type="date" id="date_id" name="userdate" required />


        if (Model != null)
        {
            for (var i = 0; i < Model.Count; i++)
            {
                <table class="table  pt-3">
                    <tr>
                        <td>
                            <b>Project</b>
                            @Html.DropDownListFor(model => model[i].ProjectId,
                      new SelectList(ViewBag.Projects, "Id", "Name"),
                      "Select Projects",
                      new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model[i].ProjectId, "", new { @class = "text-danger w-75" })

                        </td>
                        <td>
                            <b>Monday</b> @Html.EditorFor(m => Model[i].MondayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Tuesday</b> @Html.EditorFor(m => Model[i].TuesdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Wednesday</b> @Html.EditorFor(m => Model[i].WednesdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Thursday</b> @Html.EditorFor(m => Model[i].ThursdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Friday</b> @Html.EditorFor(m => Model[i].FridayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Saturday</b> @Html.EditorFor(m => Model[i].SaturdayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Sunday</b> @Html.EditorFor(m => Model[i].SundayLogTime, "", new { htmlAttributes = new { @class = "Input-Entry" } })
                        </td>
                        <td>
                            <b>Description</b> @Html.EditorFor(m => Model[i].Description, "", new { htmlAttributes = new { @class = "Input-Entry-discription" } })
                        </td>

                    </tr>
                </table>

            }
        }

    }



</div>