@model IEnumerable<TSheet.Data.TimeSheetAuditTB>

@{
    Layout = "~/Views/Shared/_UserLayoutPage1.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<div class="container">
    <table id="table_id" class="table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Project</th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedBy)
                </th>
                <th>Date</th>
                <th>Hours Filled</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white">
                   
                    <td class="bg-white">@Html.DisplayFor(modelItem => item.TimeSheetDetail.TimeSheetMaster.ProjectMaster.ProjectName)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApprovedBy)
                    </td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.TimeSheetDetail.Date)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.TimeSheetDetail.Hours)</td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript"
        charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript"
        charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        $("#table_id").dataTable();
    });
</script>