@model IEnumerable<TSheet.Data.AssignedRole>

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<style>
    td {
        border: solid 1px black;
        background-color: white;
    }

    th {
        border: solid 1px black;
        background-color: white;
    }
</style>

<div class="container">
    <link rel="stylesheet"
          type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <table id="table_id">
        <thead class="bg-white">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Role </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td class="p-3 bg-white">
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>*@
                    @*<td class="p-1  "> @Html.DisplayFor(modelItem => item.Email)</td>*@

                    <td class="p-1 bg-white">
                        @Html.DisplayFor(modelItem => item.Registration.FirstName)
                        @Html.DisplayFor(modelItem => item.Registration.LastName)
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.Registration.Email)</td>
                    @*<td class="p-1 text-center">*@
                    @if (item.Role.RoleName == null)
                    {
                        <td>Not Assigned</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.Role.RoleName)</td>
                    }

                    @*@Html.DisplayFor(modelItem => item.Role.RoleName)*@@*</td>*@
                    <td class="pt-1 ">
                        @Html.ActionLink("Edit", "EditUser", "SuperAdmin", new { id = item.UserID, item.Registration.Gender, item.Registration.FirstName, item.Registration.LastName, item.Registration.MobileNumber, item.Registration.IsActive, item.Registration.DateOfbirth, item.Registration.DateOfJoining, item.Registration.Email }, null) |
                        @Html.ActionLink("Reset Password", "ResetPassword", "SuperAdmin", new { id = item.UserID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>

</div>
