
@model List<TSheet.Models.AssignRoleViewModel>
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<style>
    td {
        border: solid 1px black;
        background-color: white;
    }

    th {
        border: solid 1px black;
        background-color: white;
    }
</style>

<div class="">
    <link rel="stylesheet"
          type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <table id="table_id" class=" table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th class="p-3">Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white">
                    <td class="p-3 bg-white">
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.RoleName)</td>
                    <td class="pt-3">
                        @Html.ActionLink("Edit", "EditUser", "SuperAdmin", new { id = item.UserID, item.Gender, item.FirstName, item.LastName, item.MobileNumber, item.IsActive, item.DateOfBirth, item.DateOfJoining, item.Email }, null) |
                        @Html.ActionLink("Reset Password", "ResetPassword", "SuperAdmin", new { id = item.UserID }, null)
                    </td>
                    <td>@Html.ActionLink("View", "ViewUser",new { id = item.UserID })</td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>

</div>
