@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    #user-Card {
        background-color: red
    }

    .count {
        font-size: 28px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif
    }

    #text-cart {
        font-size: 22px;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
    }
</style>


<h3>Super Admin Dashboard</h3>
<div class="row pt-3">
    <div class="col-lg-3 col-md-6 ">
        <div class="card border-left-dark shadow  py-2">
            <div class="card-body id=" user-Card"">
                <div class=" row">
                    <div class="col-lg-8" id="text-cart"> <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("TotalUsers", "TotalCounts")'">
    Total User Count
</button></div>
                    <div class=" col-lg-4"> <h4 class="count pt-3 pl-4 text-primary">@ViewBag.NoOfUsers</h4></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3  col-md-6 ">
        <div class="card border-left-dark shadow  py-2">
            <div class="card-body">
                <div class=" row">
                    <div class="col-lg-8" id="text-cart"> <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Totaladmin", "TotalCounts")'">
    Total Admin Count</button>
</div>
                    <div class=" col-lg-4"> <h4 class=" count pt-3 pl-4 text-primary">@ViewBag.NoOfAdmin</h4></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 ">
        <div class="card border-left-dark shadow  py-2">
            <div class="card-body">
                <div class=" row">
                    <div class="col-lg-8" id="text-cart"> <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("TotalProjects", "TotalCounts")'">
    Total Project Count
</button> </div>
                    <div class=" col-lg-4"> <h4 class="count pt-3 pl-4 text-primary">@ViewBag.NoOfProjects</h4></div>
                </div>
            </div>
        </div>
    </div>

</div>



