@model TSheet.Models.ResetPasswordModel

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<div class="pl-3 pt-3">
    <button class="btn bg-success">
        @Html.ActionLink("Go To Dashboard", "DashBoard", "SuperAdmin", new { @class = "text-white", @id = "SideBar-items" })
    </button>
</div>
<h3 class="pt-3 pl-3 font-weight-bold">Reset Password Here</h3>
<div class="pt-3">

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>
                Success!
            </strong>@ViewBag.Message
        </div>
    }

    @using (Html.BeginForm("ResetPassword", "SuperAdmin", FormMethod.Post))
    {

        <div class="form-group  pl-3">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-50" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group pl-3">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-sm" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control w-50" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pl-4">
            <div>
                <input type="submit" value="Save" class="btn btn-default btn-primary w-25" />
            </div>
        </div>

        @* </div>*@
    }

</div>

