@model TSheet.Modals.TimeSheetModal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>

    <p>herer is the timesheet</p>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Date1)

        @Html.EditorFor(model => model.Date1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
        <br />

        <br />

        //start of project 1


        @Html.DropDownListFor(model => model.ProjectID1,
                new SelectList(ViewBag.Projects, "Id", "Name"),
                "Select Projects",
                new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectID1, "", new { @class = "text-danger" })




        @Html.EditorFor(model => model.Text1_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text2_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text3_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text4_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text5_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text6_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text7_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Description_ProjectID1, new { htmlAttributes = new { @class = "form-control" } })

        //end of project 1



        <br />
        <br />
        <br />

        //start of project 2


        @Html.DropDownListFor(model => model.ProjectID2,
               new SelectList(ViewBag.Projects, "Id", "Name"),
               "Select Projects",
               new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectID2, "", new { @class = "text-danger" })



        @Html.EditorFor(model => model.Text1_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text2_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text3_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text4_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text5_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text6_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text7_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Description_ProjectID2, new { htmlAttributes = new { @class = "form-control" } })


        //end of project2
        <br />
        <br />
        <br />

        //start of project 3



        @Html.DropDownListFor(model => model.ProjectID3,
                new SelectList(ViewBag.Projects, "Id", "Name"),
                "Select Projects",
                new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectID3, "", new { @class = "text-danger" })





        @Html.EditorFor(model => model.Text1_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text2_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text3_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text4_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text5_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text6_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text7_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Description_ProjectID3, new { htmlAttributes = new { @class = "form-control" } })


        //end of project 3
        <br />
        <br />
        <br />

        //start of project 4


        @Html.DropDownListFor(model => model.ProjectID4,
                new SelectList(ViewBag.Projects, "Id", "Name"),
                "Select Projects",
                new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectID4, "", new { @class = "text-danger" })





        @Html.EditorFor(model => model.Text1_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text2_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text3_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text4_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text5_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text6_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Text7_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })

        @Html.EditorFor(model => model.Description_ProjectID4, new { htmlAttributes = new { @class = "form-control" } })


        //end of project 4
        <br />
        <br />
        <br />









        <div class="form-group  pt-5">
            <input type="submit" value="Submit" class="btn bg-primary w-100 rounded-pill text-white" id="input-box">
        </div>



    }


</body>
</html>
