@model List<TSheet.Models.AllTimeSheetModel>

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

}
<link href="~/Content/css/TSheetCSS/css/superAdmin.css" rel="stylesheet" />

<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<body id="adminBody">
    <h4 class=" ml-3 pl-3" id="Adminhedding">All Time Sheet</h4>
    <div class="pt- p-2 mt-1 ml-4 mr-3">
        <table id="table_id" class="table-bordered shadow table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <th class="p-3">Project Name</th>
                    @if (ViewBag.Showname == true)
                    {
                        <th>Name</th>
                    }

                    <th class="p-3"> Hours</th>
                    <th class="p-3">Date</th>
                    <th class="p-3">Created On</th>

                    @if (ViewBag.b == true)
                    {
                        <th>Approve/Reject</th>
                        <th>Status</th>
                    }


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr class="bg-white">
                        <td class="p-3 bg-white"> @Html.DisplayFor(modelItem => item.ProjectName)</td>
                        @* @Html.HiddenFor(modelItem=>item.TimeSheetDetailID)*@
                        @if (ViewBag.Showname == true)
                        {
                            <td class="p-3 bg-white">
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                        }

                        <td class="p-3"> @Html.DisplayFor(modelItem => item.Hours)</td>
                        <td class="p-3"> @Html.DisplayFor(modelItem => item.Date)</td>
                        <td class="p-3"> @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                        @Html.HiddenFor(modelItem => item.TimeSheetDetailID, new { @id = "timeSheetDetailId" })
                        @Html.HiddenFor(modeItem => item.UserUniqueId, new { @id = "id2" })
                        @*<input type="hidden" value="@item.TimeSheetDetailID" id="timeSheetDetailId"/>*@

                        @if (ViewBag.b == true)
                        {
                            <td class="p-3">


                                <button type="button" class="btn btn-success" onclick="BtnClick(@item.TimeSheetDetailID, @item.UserUniqueId)">Approve</button> |
                                <button type="button" class="btn btn-danger rejectTimeSheet" onclick="BtnClickReject(@item.TimeSheetDetailID)">Reject</button>
                                @* @Html.ActionLink("Approve Timesheet", "ApproveTimesheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new {@class="approve"})|*@

                                @*@Html.ActionLink("Reject Timesheet", "RejectSheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new { @class = "reject " })*@
                            </td>
                            <td class="p-3">@Html.DisplayFor(modelItem => item.Status)</td>
                        }


                    </tr>
                }
            </tbody>
        </table>

        <script type="text/javascript"
                charset="utf8"
                src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript"
                charset="utf8"
                src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <script>
            $(function () {
                $("#table_id").dataTable();
            });
        </script>

        <script>
        function BtnClick(val) {
            console.log(val);
            debugger;
            var id = $('#TimeSheetDetailID').val();
            console.log(id);
            var id2 = $('#id2').val();
           /* console.log(id2);

            console.log(id);*/
           $.ajax({
               type: 'POST',
               dataType: 'JSON',
               url: '/TimeSheet/ApproveTimesheet',
               data: { Id: id, Id2: id2, Identity: '@User.Identity.Name' },
                success: function (data) {
                    console.log(data);
                }
                })


            }
        </script>
        <script>
        function BtnClickReject(val) {
            console.log(val);
            debugger;
            var id = $('#TimeSheetDetailID').val();
            console.log(id);
            var id2 = $('#id2').val();

            console.log(id);
           $.ajax({
               type: 'POST',
               dataType: 'JSON',
               url: '/TimeSheet/RejectTimesheet',
               data: { Id: id, Id2: id2, Identity: '@User.Identity.Name' },
                success: function (data,value) {
                    console.log(data);
                 }
                })
            }
        </script>

    </div>
</body>