@model List<TSheet.Models.AllTimeSheetModel>
@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link href="~/Content/css/user.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
@section SideBarAction{
    <div class="p-3">
        <h5 class=""> <i class="fas fa-home" id="SideBar-Icons"></i> @Html.ActionLink("Dashboard", "DashBoard", "Admin", "Admin", new { @class = "text-white", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-user" id="SideBar-Icons"></i> @Html.ActionLink("Create User", "CreateUser", "Admin", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class="text-white"><i class="fa-solid fa-users" id="SideBar-Icons"></i> @Html.ActionLink("All Time Sheet", "AllTimeSheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-users" id="SideBar-Icons"></i> @Html.ActionLink("Approve TimeSheet", "ApproveSheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-users" id="SideBar-Icons"></i> @Html.ActionLink("Reject TimeSheet", "RejectTimesheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>
        <hr />
        <h5 class=""><i class="fa-sharp fa-solid fa-address-card" id="SideBar-Icons"></i> @Html.ActionLink("Project List", "ProjectList", "Admin", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>
    </div>
}
<script>
    $(document).ready(function () {
        $("#approve").click(function () {
            alert("Approved");
        });
    });
</script>

<div class="col-lg-10 col-md-9 p-4" id="top-body-box">
    <link rel="stylesheet"
          type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <table id="table_id">
        <thead class="bg-white">
            <tr>
                <th>Name</th>
                <th> Hours</th>
                <th>Date</th>
                <th>Created On</th>
                <th>Project Name</th>
                @if (ViewBag.b == true)
                {
                    <th>Aprroved</th>
                }
                @if (ViewBag.rejectview == true)
                {
                    <th>Rejected</th>
                }
                @*@if(ViewBag.b== false)
                    {
                        <th>Rejected</th>
                    }*@

                @* <th>Action</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="p-3">
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Hours)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Date)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.ProjectName)</td>
                    @if (ViewBag.b == true)
                    {
                        <td class="p-3"> @Html.ActionLink("ApproveTimesheet", "ApproveTimesheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name , onclick = "return false" }, new { @id = "approve" })</td>
                    }

                    @if (ViewBag.rejectview == true)
                    {
                        <td class="p-3">  @Html.ActionLink("Reject Timesheet", "RejectSheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name ,id2=item.UserUniqueId})</td>
                    }

                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>

</div>
