@model List<TSheet.Models.AllTimeSheetModel>
@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_UserLayoutPage1.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="">
    <link rel="stylesheet"
          type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <table id="table_id">
        <thead class="bg-white">
            <tr>
                <th>Name</th>
                <th> Hours</th>
                <th>Date</th>
                <th>Created On</th>
                <th>Project Name</th>
               @* @if (ViewBag.b == true)
                {
                    <th>Aprrove</th>
                }
                @if (ViewBag.rejectview == true)
                {
                    <th>Reject</th>
                }*@
                @if (ViewBag.b == true)
                { 
                   <th>Approve</th>
                   <th>Reject</th>
                
                }
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="p-3">
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Hours)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Date)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.ProjectName)</td>
                    @*@if (ViewBag.b == true)
        {
            <td class="p-3"> @Html.ActionLink("Approve Timesheet", "ApproveTimesheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new { @class = "approve" })</td>
        }

        @if (ViewBag.rejectview == true)
        {
            <td class="p-3">  @Html.ActionLink("Reject Timesheet", "RejectSheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new { @class = "reject " })</td>
        }*@
                    @if (ViewBag.b == true)
                    {
                        <td class="p-3"> @Html.ActionLink("Approve Timesheet", "ApproveTimesheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new { @class = "approve" })</td>

                        <td class="p-3">  @Html.ActionLink("Reject Timesheet", "RejectSheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new { @class = "reject " })</td>

                    }

                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".reject").click(function () {
                return false;
            })
        })
        $(document).ready(function () {
            $(".reject").click(function () {
                alert("Rejected")
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $(".approve").click(function () {
                return false;
            })
        })
        $(document).ready(function () {
            $(".approve").click(function () {
                alert("Approved")
            })
        })
    </script>

</div>
