@model List<TSheet.Models.AllTimeSheetModel>
@{
    ViewBag.Title = "User DashBoard";
    Layout = "~/Views/Shared/_TimeSheetLayout.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


    </style>

<div class="container">
    <link rel="stylesheet"
          type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />

    <table id="table_id" class="table-bordered table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th class>Project Name</th>
                @if (ViewBag.Showname == true)
                {
                    <th>Name</th>
                }

                <th> Hours</th>
                <th>Date</th>
                <th>Created On</th>

                @if (ViewBag.b == true)
                {
                    <th>Approve/Reject</th>

                }
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr class="bg-white">
                    <td class="p-3 bg-white"> @Html.DisplayFor(modelItem => item.ProjectName)</td>
                    @Html.HiddenFor(modelItem=>item.TimeSheetDetailID)
                    @if (ViewBag.Showname == true)
                    {
                        <td class="p-3 bg-white">
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    }

                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Hours)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.Date)</td>
                    <td class="p-3"> @Html.DisplayFor(modelItem => item.CreatedOn)</td>
                    @Html.HiddenFor(modelItem => item.TimeSheetDetailID, new { id = "id" })
                    @Html.HiddenFor(modeItem => item.UserUniqueId, new { id = "id2" })

                    @if (ViewBag.b == true)
                    {
                        <td class="p-3">


                            <button type="button" class="btn btn-success" onclick="BtnClick()">Approve</button>
                            <button type="button" class="btn btn-danger" onclick="BtnClickReject()">Reject</button>
                            @* @Html.ActionLink("Approve Timesheet", "ApproveTimesheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new {@class="approve"})|*@

                            @*@Html.ActionLink("Reject Timesheet", "RejectSheet", new { id = item.AllTimesheetId, Email = HttpContext.Current.User.Identity.Name, id2 = item.UserUniqueId }, new { @class = "reject " })*@
                        </td>

                    }
                    <td>@ViewBag.Value</td>

                </tr>
            }
        </tbody>
    </table>
    <script>
        function BtnClick() {

            var id = $('#id').val();
            var id2 = $('#id2').val();

            console.log(id);
           $.ajax({
               type: 'POST',
               dataType: 'JSON',
               url: '/TimeSheet/ApproveTimesheet',
               data: { Id: id, Id2: id2, Identity: '@User.Identity.Name' },
                success: function (data) {
                    console.log(data);
                }
                })
            }
    </script>
    <script>
        function BtnClickReject() {

            var id = $('#id').val();
            var id2 = $('#id2').val();

            console.log(id);
           $.ajax({
               type: 'POST',
               dataType: 'JSON',
               url: '/TimeSheet/RejectTimesheet',
               data: { Id: id, Id2: id2, Identity: '@User.Identity.Name' },
                success: function (data,value) {
                    console.log(data);


                }
                })
            }
    </script>




    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".reject").click(function () {
                return false;
            })
        })
        $(document).ready(function () {
            $(".reject").click(function () {
                alert("Rejected")
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $(".approve").click(function () {
                return false;
            })
        })
        $(document).ready(function () {
            $(".approve").click(function () {
                alert("Approved")
            })
        })
    </script>

</div>
