@model List<TSheet.Models.WeekInfoModel>
@{
    ViewBag.Title = "WeekApproveRejectSuperAdmin";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<style>
    #backbutton {
        float: left;
        width: 180px;
    }

    #approve {
        color: white
    }

    #reject {
        color: white
    }
</style>
<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="p-3 mt-4 ml-4 ">
    <button id="backbutton" class="btn bg-success ">
        @Html.ActionLink("Go To Back", "WeeklyStatusSuperAdmin", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })
    </button>
</div>
<div class="p-3 mt-4 ml-4">
    <table id="table_id" class="table-bordered ">
        <thead class="bg-dark text-white p-3">
            <tr class="p-3">
                <th scope="col" class="p-3">Date</th>
                <th scope="col">Hours</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                @*<th scope="col">Details</th>
                    <th scope="col">Delete</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white">
                    <td class="bg-white p-3">@Html.DisplayFor(modelItem => item.Date)</td>
                    <td class="bg-white p-3">@Html.DisplayFor(modelItem => item.Hours)</td>
                    <td class="bg-white p-3">@Html.DisplayFor(modelItem => item.Status)</td>
                    <td class="bg-white p-3  pl-5">
                        <button class="btn bg-success w-25 ml-3">@Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @id = "approve" }) </button>
                        <button class="btn bg-danger w-25 ml-3">  @Html.ActionLink("Reject", "Reject", new { masterid = item.Id }, new { @id = "reject" })</button>

                    </td>
                </tr>
            }

        </tbody>
    </table>

    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>
</div>
