@model List<TSheet.Models.WeeklyApproveRejectModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link href="~/Content/css/TSheetCSS/css/AllAdmin.css" rel="stylesheet" />
<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<script>
    $(document).ready(function () {
        $("#add").click(function () {
            // Get the scroll position from the cookie or sessionStorage object
            var scrollX = ~~(document.cookie.split("scrollX=")[1] || sessionStorage.getItem("scrollX"));
            var scrollY = ~~(document.cookie.split("scrollY=")[1] || sessionStorage.getItem("scrollY"));

            // Scroll to the saved scroll position
            window.scrollTo(scrollX, scrollY);
        })
    })

</script>


<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<body id="adminBody">
    <h4 class="ml-5 AdminTitle h1" id="Adminhedding">Users Approve-Reject</h4>
    <div class="pt-3 p-2 pt-4 pl-4 pr-4 ml-2">

        <table id="table_id" class="table-bordered table-striped shadow">
            <thead class="bg-dark text-white p-4">
                <tr>
                    <th scope="col" class="p-3">Name</th>
                    <th scope="col">Week Filled</th>
                    <th scope="col">Total Hrs</th>
                    <th scope="col">Project</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Status</th>
                    <th>Day Logs</th>
                    <th> Approve-Reject</th>
                    @*<th scope="col">Details</th>
                        <th scope="col">Delete</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg-white">

                        <td class="bg-white " id="NameWeeklyStetus">
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td class="text-center  bg-white "><div>@Html.DisplayFor(modelItem => item.FromDate)</div><div>To</div><div>@Html.DisplayFor(modelItem => item.ToDate)</div></td>
                        <td class="text-center  bg-white ">@Html.DisplayFor(modelItem => item.TotalHours)</td>
                        <td class="text-center bg-white ">@Html.DisplayFor(modelItem => item.Project)</td>
                        <td class="text-center bg-white ">@Html.DisplayFor(modelItem => item.Comment)</td>
                        <td class="text-center bg-white ">@Html.DisplayFor(modelItem => item.Status)</td>

                        <td class="text-center bg-white ">@Html.ActionLink("View", "WeekApproveReject", "TimeSheet", new { id2 = item.Id }, null)</td>
                        <td class="text-center bg-white ">
                            <button class="btn bg-success w-50 m-1 text-white ">  @Html.ActionLink("Approve", "Approve", new { masterid = item.Id, Email = HttpContext.Current.User.Identity }, new { @id = "approve", @class = "h4" })</button>
                            <button class="btn bg-danger w-50 m-1 text-white"> @Html.ActionLink("Reject", "Reject", new { masterid = item.Id, Email = HttpContext.Current.User.Identity }, new { @id = "reject", @class = "h4" })</button>
                        </td>
                        @* <td><button type="button" class="btn btn-success">Approve</button> <button type="button" class="btn btn-danger">Reject</button></td>*@
                        @*<td>@Html.ActionLink("Approve","Approve", new {id=item.Id},null</td>*@
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript"
        charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript"
        charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        $("#table_id").dataTable();
    });
</script>

<script>
    $(document).ready(function () {
        ("#approve").click(function () {
            alert("ok")
        })
    })
</script>
