<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/TSheetCSS/AdminLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div id="mySidenav" class="sidenav">

        <h3 class=" sideBarTitle text-center">Time Sheet</h3>
        <div class="sideBarItems ">

            <h5 class="">  @Html.ActionLink("Dashboard", "DashBoard", "Admin", "Admin", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class=""> @Html.ActionLink("Create User", "CreateUser", "Admin", "Admin", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class="">  @Html.ActionLink("All Time Sheet", "AllTimeSheetAdmin", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class="">@Html.ActionLink("Approve/Reject TimeSheet", "WeeklyStatus", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class="">@Html.ActionLink("Show Users", "ShowUser", "Admin", "", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class="">@Html.ActionLink("Projects List", "ProjectList", "Admin", "Admin", new { @class = "text-white", @id = "SideBar-items" })</h5>
            <h5 class="">@Html.ActionLink("Projects Assigned", "ProjectAssigned", "Admin", "Admin", new { @class = "text-white", @id = "SideBar-items" })</h5>
            <h5 class=""> @Html.ActionLink("Change Password", "ChangePassword", "User", "", new { @class = "text-white", @id = "SideBar-items" })</h5>

        </div>
    </div>


    <div id="main" class="">
        <div class="shadow-sm p-3">
            <nav class="navbar navbar-inverse  ">
                <div class="">
                    <ul class="nav navbar-nav navbar-right ">
                        <li>@HttpContext.Current.User.Identity.Name</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                </div>
            </nav>
        <a href="javascript:void(0)" class="closebtn pl-2 h1 pt-2" onclick="closeNav()">	&#9666;</a>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
    </div>

        @RenderBody()

    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>

</body>
</html>







