<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
            transition: background-color .5s;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #505152;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 20px;
        }

        i {
            padding-top: 60px;
            text-decoration: none;
            font-size: 16px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidenav a {
            padding-top: 30px;
            padding-left: 30px;
            text-decoration: none;
            font-size: 16px;
            color: white;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        .sideBarTitle {
            font-weight: 800;
            color: white;
            padding-top: 1px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        .closebtn {
        }

        .navbar {
            float: right;
        }

        #SideBar-items {
            font-family: 'Times New Roman', Times, serif
        }
    </style>
</head>
<body>

    <div id="mySidenav" class="sidenav">

        <h3 class=" sideBarTitle text-center">Time Sheet</h3>
        <div class="sideBarItems ">
            <h5 class="">  @Html.ActionLink("Dashboard", "DashBoard", "Admin", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class=""> @Html.ActionLink("Create User", "CreateUser", "Admin", "", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class="">  @Html.ActionLink("All Time Sheet", "AllTimeSheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>

            @* <h5 class=""> @Html.ActionLink("Approve TimeSheet", "ApproveTimeSheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>

        <h5 class="">@Html.ActionLink("Reject TimeSheet", "RejectTimeSheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>*@
            <h5 class="">@Html.ActionLink("Approve/Reject TimeSheet", "ApproveTimeSheet", "TimeSheet", "TimeSheet", new { @class = "text-white", @id = "SideBar-items" })</h5>



            <h5 class="">@Html.ActionLink("Project List", "ProjectList", "Admin", "", new { @class = "text-white", @id = "SideBar-items" })</h5>

            <h5 class="">@Html.ActionLink("Show Users", "ShowUser", "Admin", "", new { @class = "text-white", @id = "SideBar-items" })</h5>


        </div>
    </div>

    <div id="main">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right ">
                    <li>@HttpContext.Current.User.Identity.Name</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                </ul>
            </div>
        </nav>
        <a href="javascript:void(0)" class="closebtn pl-2 h1 pt-2" onclick="closeNav()">	&#9666;</a>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
        <hr />


        @RenderBody()

    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>

</body>
</html>







