<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/TSheetCSS/demodemo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <style>
        ul li a.active {
            background-color: #C4C0C0;
            color: black
        }
    </style>

</head>
<div class="w3-bar w3-light-grey bg-white p-2 shadow">
    <img src="~/Content/css/TsheetImg/hourglass.png" id="NavLogo" /><span class="NvaTitle pl-3">TIME MANAGE</span>
    <div id="loginName">
        <div class="h4 pr-5 " id="userLoginEmail"><i class="fa-solid fa-user"></i> @HttpContext.Current.User.Identity.Name</div>
        <div class="h4 pr-5"> <i class="fa-solid fa-right-to-bracket"></i> @Html.ActionLink("Logout", "Logout", "Account")</div>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" link="white" , alink="red" , vlink="black">
            @*<li class="pt-4">
                    <a href="">  <i class=""></i> <span style="margin-left:10px;" id="TimeSheetLogo"> TIME SHEET </span> </a>
                </li>*@

            <li class="pt-3">
                <a href="@Url.Action("Dashboard", "SuperAdmin")">  <i class="fa-solid fa-house-chimney " id="i"></i> <span style="margin-left:10px;" id="titleTag" class="active"> Dashboard</span> </a>
            </li>
            <li class="pt-3">
                <a href="@Url.Action("CreateUser", "SuperAdmin")"><i class="fa-solid fa-square-plus"></i> <span style="margin-left:10px;">Create User </span> </a>
            </li>
            <li class="pt-3">
                <a href="@Url.Action("AllTimeSheetSuperAdmin", "TimeSheet")"> <i class="fa-regular fa-calendar-days"></i> <span style="margin-left:10px;"> All Time Sheet</span> </a>
            </li>
            <li class="pt-3">
                <a href="@Url.Action("WeeklyStatusSuperAdmin", "TimeSheet")">  <i class="fa-solid fa-person-circle-check"></i> <span style="margin-left:10px;"> Approve/Reject</span> </a>
            </li>
            <li class="pt-3">
                <a href="@Url.Action("AssignRoles", "SuperAdmin")"><i class="fa-solid fa-users"></i> <span style="margin-left:10px;">See All Users </span> </a>
            </li>
            <li class="pt-3">
                <a href="@Url.Action("ProjectList", "SuperAdmin")"><i class="fa-solid fa-folder"></i> <span style="margin-left:10px;">Projects List</span> </a>
            </li>

            <li class="pt-3">
                <a href="@Url.Action("ProjectsAssigned", "SuperAdmin")"> <i class="fa-solid fa-user-check"></i> <span style="margin-left:10px;">Projects Assigned </span> </a>
            </li>
            <li class="pt-3">
                <a href="@Url.Action("ResetPassword", "SuperAdmin")"> <i class="fa-sharp fa-solid fa-unlock-keyhole"></i> <span style="margin-left:10px;">Change Password</span> </a>
            </li>
        </ul>
    </div>
</div>

<h1 href="#menu-toggle" id="menu-toggle"> <i class="fa fa-bars " style="font-size:28px !Important;" aria-hidden="true" aria-hidden="true"></i> </h1>
    <div class="userBody">
        @RenderBody()
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#menu-toggle").click(function () {
            $(".userBody").animate({ left: '1000px;' })
        })
    })
</script>

<style>
    #NavLogo {
        width: 53px;
        height: 53px;
    }

    .NvaTitle {
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color: #622F90;
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    #loginName {
        float: right
    }

    .navimg {
        width: 300px;
        height: 100px
    }

    #LogigLogo {
        float: right;
    }

    .userBody {
        padding-left: 200px;
    }

    span {
        font-size: 17px
    }

    i {
        font-size: 17px
    }

    #navBar {
        height: 60px;
        background-color: white;
    }

    #menu-toggle {
        padding-left: 200px;
    }

    #TimeSheetLogo {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        color: white;
        font-size: 23px;
    }

    nav {
        float: left
    }
    .userBody {
     
        position: relative;
        left: 0;
    }


</style>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function () {
        $("#userLoginEmail").hover(function () {
            $(this).css("background-color", "yellow");
        }, function () {
            $(this).css("background-color", "pink");
        });
    });

</script>

<script>
    const varLocation = window.location.pathname;
    console.log(varLocation)

    // Get all nav links
    var navLinks = document.querySelectorAll("li a");

    // Get the current URL
    var currentURL = window.location.href;

    // Loop through the nav links and add the active class to the current link
    navLinks.forEach(function (link) {
        if (link.href === currentURL) {
            link.classList.add("active");
        }
    });



    /*  $(document).ready(function () {
          $('#menu-toggle').click(function () {
              $("i").css('font-size', '35px');

          });
      });
      $(document).ready(function () {
          $('#menu-toggle').click(function () {
              $("#i").css('font-size', '17px');

          });
      });*/
</script>
<script>
    const changeLocation = localStorage.href;
    const SideBarItem = document.querySelectorAll('a');
    const itemLength = SideBarItem.length
    for (let i = 0; i < itemLength; i++) {
        if (SideBarItem[i].href === changeLocation) {
            SideBarItem[i].className = 'active'
        }
    }

</script>
<script>
    const button = document.getElementById('menu-toggle');
    const box = document.getElementsByClassName('userBody');

    button.addEventListener('click', function () {
        box.style.left = '-100px';
    });


</script>


