
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="~/Content/css/TSheetCSS/css/demo.css" rel="stylesheet" />
    <link href="~/Content/css/TSheetCSS/css/styles.css" rel="stylesheet" />
    <title> User</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- SideBar-Menu CSS -->

    <link href="~/Content/css/TSheetCSS/css/demo.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".hamburger .hamburger__inner").click(function () {
                $(".wrapper").toggleClass("active")
            })

            $(".top_navbar .fas").click(function () {
                $(".profile_dd").toggleClass("active");
            });
        })
    </script>
    <style>
        .loginName{
            padding-left:100%;
            float:left
        }
        button{
            margin-left:100px;
        }
        .Tm {
            font-family: 'Times New Roman', Times, serif;
            font-weight:700;
            color: #06479A;
            font-size:18px
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="top_navbar bg-white shadow-sm row">
           <h4 class="pl-3 pt-2 Tm">TIME <br /> MANAGE</h4>
            <button id="go" class="col-lg-1 col-md-2 ml-2 bg-white border-white "><i class="fa-solid fa-bars h2"></i></button>
            <ul class="nav navbar-nav navbar-right col-lg-8 col-md-7">
                <li class="loginName">@HttpContext.Current.User.Identity.Name</li>
                <li class="loginName">@Html.ActionLink("Logout", "Logout", "Account")</li>
            </ul>

        </div>

        <div class="main_container">
            <div class="sidebar">
                <div class="sidebar__inner">

                    <ul>
                        <li>
                            <h4 class="text-center" id="timesheetlogo">TIME SHEET</h4>
                        </li>
                        <li>
                            @Html.ActionLink("Dashboard", "DashBoard", "User", "User", new { @class = "title" })
                        </li>
                        <li>
                            @Html.ActionLink("Time Sheet ", "TimeLog", "TimeLogging", "TimeLogging", new { @class = "title" })
                        </li>
                        @*<li>
                            @Html.ActionLink("All Time Sheet ", "AllTimeSheet", "TimeSheet", "TimeSheet", new { @class = "title" })
                        </li>*@
                        <li>
                            @Html.ActionLink("Change Password", "ChangePassword", "User", "User", new { @class = "title" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="userBox">
            @RenderBody()
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $("#go").click(function () {
                $(".main_container").animate({
                    width: "toggle"
                });
            });
        });
    </script>

</body>
</html>