<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/TSheetCSS/demodemo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <style>
        ul li a.active {
            background-color: #C4C0C0;
            color: black
        }
    </style>
    <link href="~/Content/css/user.css" rel="stylesheet" />
</head>
<div class="w3-bar w3-light-grey bg-white p-2 shadow">
    <img src="~/Content/css/TsheetImg/hourglass.png" id="NavLogo" /><span class="NvaTitle pl-3">TIME MANAGE</span>
    <div id="loginName">
        <div class="h4 pr-5 " id="userLoginEmail"><i class="fa-solid fa-user"></i> @HttpContext.Current.User.Identity.Name</div>
        <div class="h4 pr-5"> <i class="fa-solid fa-right-to-bracket"></i> @Html.ActionLink("Logout", "Logout", "Account")</div>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <h1 href="#menu-toggle" id="menu-toggle"> <i class="fa fa-bars " style="font-size:28px !Important;" aria-hidden="true" aria-hidden="true"></i> </h1>

            <li class="pt-5">
                <a href="@Url.Action("Dashboard", "User")">  <i class="fa-solid fa-house-chimney " id="i"></i> <span style="margin-left:10px;" class="active"> Dashboard</span> </a>
            </li>
            <li class="pt-5">
                <a href="@Url.Action("TimeLog", "TimeLogging")"> <i class="fa-solid fa-calendar-plus" id="i"></i> <span style="margin-left:10px;" class="active">Time Sheet </span> </a>
            </li>
            <li class="pt-5">
                <a href="@Url.Action("TotalTimeSheets1", "TotalCounts")"> <i class="fa-solid fa-calendar-plus" id="i"></i> <span style="margin-left:10px;" class="active">Time Sheet </span> </a>
            </li>
            <li class="pt-5">
                <a href="@Url.Action("ChangePassword", "User")"> <i class="fa-solid fa-lock" id="i"></i> <span style="margin-left:10px;" class="active"> Change Password</span> </a>
            </li>
        </ul>
    </div>
</div>



<div class="userBody" id="wrapper">
    @RenderBody()
</div>



<style>
    #NavLogo {
        width: 53px;
        height: 53px;
    }

    .NvaTitle {
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color: #622F90;
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    #loginName {
        float: right
    }

    .navimg {
        width: 300px;
        height: 100px
    }

    #LogigLogo {
        float: right;
    }

    .userBody {
        padding-left: 200px;
    }

    span {
        font-size: 17px
    }

    i {
        font-size: 17px
    }

    #navBar {
        height: 60px;
        background-color: white;
    }

    #menu-toggle {
        padding-left: 200px;
    }

    #TimeSheetLogo {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        color: white;
        font-size: 23px;
    }

    nav {
        float: left
    }

    ul li a.active {
        background-color: #C4C0C0;
        color: black
    }
</style>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $(".userBody").toggleClass("toggled");
    });

    /*$(document).ready(function () {
        $("#userLoginEmail").hover(function () {
            $(this).css("background-color", "yellow");
        }, function () {
            $(this).css("background-color", "pink");
        });
    });*/

</script>

<script>

    document.getElementById("span").addEventListener("click", function () {
        this.style.color = "red";
    });

    /*  $(document).ready(function () {
          $('#menu-toggle').click(function () {
              $("i").css('font-size', '35px');

          });
      });
      $(document).ready(function () {
          $('#menu-toggle').click(function () {
              $("#i").css('font-size', '17px');

          });
      });*/
</script>

<script type="text/javascript">
    const currentLoaction = location.href;
    const menuItem = document.querySelectorAll('a');
    const menuLength = menuItem.length
    for (let i = 0; i < menuLength; i++) {
        if (menuItem[i].href == currentLoaction) {
            menuItem[i].className = 'active'
        }
    }


</script>

<script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
@RenderSection("Scripts", required: false)
