
@model TSheet.Models.ChangeUserPassword
@{
    Layout = "~/Views/Shared/_UserLayoutPage1.cshtml";
}

<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/Content/css/TSheetCSS/ChangePass.css" rel="stylesheet" />



<div class="pl-5 pt-2">
    <button class="btn bg-success"> @Html.ActionLink("Go To Dashboard", "DashBoard", "User", "User", new { @class = "text-white", @id = "SideBar-items" })</button>
</div>
<h3 class="pt-3 pl-5" id="PassHedding">Change Your Password Here</h3>
<div class="col-lg-10 col-md-9 p-4" id="top-body-box">

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>
                Success!
            </strong>@ViewBag.Message
        </div>
    }

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Email, new { Value = HttpContext.Current.User.Identity.Name })
        <div class="form-group  pl-3">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm font-weight-bold" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-75 " } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group pl-3">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-sm font-weight-bold" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control w-75" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pl-4 pt-3">
            <div>
                <input type="submit" value="Save" class="btn  text-white " id="ChangePassword_btn" />
            </div>

        </div>
        @* </div>*@
    }

</div>




