
@model TSheet.Models.ChangeUserPassword


@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Content/css/user.css" rel="stylesheet" />



@section SideBarAction{
    <div class="p-3">
        <h5 class=""> <i class="fas fa-home"></i> @Html.ActionLink("Dashboard", "DashBoard", "User", "", new { @class = "text-white" })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-clock"></i> @Html.ActionLink("Time Sheet", "Add", "TimeSheet", "", new { @class = "text-white" })</h5>
        <hr />
        <h5 class=""> <i class="fa-solid fa-calendar-days"></i> @Html.ActionLink("All Time Sheet", "AllTimeSheet", "User", "", new { @class = "text-white" })</h5>
        <hr />
        <h5 class=""><i class="fa-solid fa-lock"></i> @Html.ActionLink("Change Password", "ChangePassword ", "User", new { @class = "text-white" })</h5>
        <hr />
       

    </div>
}


<div class="col-lg-10 col-md-9 p-4" style="background-color: #F9FBFC ; height:780px" id="top-box">
    <h3 class="pt-3 font-weight-bold">Change Your Password Here</h3>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>
                Success!
            </strong>@ViewBag.Message
        </div>
    }

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Email, new { Value = HttpContext.Current.User.Identity.Name })
        <div class="form-group  pl-3">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group pl-3">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-sm" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pl-4">
            <div>
                <input type="submit" value="Save" class="btn btn-default btn-primary" />
            </div>
        </div>
        @* </div>*@
    }

</div>

