

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />



@section SideBarAction{
    <h5 class="">@Html.ActionLink("Time Sheet", "UserDashboard", "", new { @class = "text-white" })</h5>
    <hr />
    @*<h5 class="">@Html.ActionLink("All Rolls", "CreateUser", "", new { @class = "text-white" })</h5>
        <hr />*@
    @*<h5 class="">@Html.ActionLink("Assign Roll", "CreateUser", "", new { @class = "text-white" })</h5>
        <hr />*@
    <h5 class="">@Html.ActionLink("All Time Sheet", "AllTimeSheet", "User", "", new { @class = "text-white" })</h5>

    <hr />
    <h5 class="">@Html.ActionLink("Notification", "CreateUser", "", new { @class = "text-white" })</h5>
    <hr />
    <h5 class="">@Html.ActionLink("Change Password", "CreateUser", "", new { @class = "text-white" })</h5>
}


<div class="col-lg-10 col-md-9 p-4 w-100" style="background-color: #F9FBFC ; height:780px" id="top-box">
    <div><h3>Time Sheet</h3></div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label>From Date</label>
            <input type="date" class="form-control form-control-user w-50">
        </div>
        <div class="col-sm-6">
            <label>Weeks</label>
            <input type="week" class="form-control form-control-user w-50">
        </div>
    </div>


    <div id="table-div" class="pt-5">
        <table class="table border ">
            <thead>
                <tr>
                    <th scope="col">Projects</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Total Hrs</th>
                    <th scope="col">Discription</th>

                </tr>
            </thead>
            <tbody>
                <tr class="border border-end">
                    <th scope="row">
                        <select class="form-select">
                            <option selected>select project</option>
                            @foreach (var v in ViewBag.ProjectData)
                            {
                                <option value="1">@v.ProjectName</option>
                            }
                            
                        </select>
                    </th>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="text" class="w-75"></td>

                </tr>
                <tr>
                    <th scope="row">
                        <select class="form-select">
                            <option selected>select project</option>
                            @foreach (var v in ViewBag.ProjectData)
                            {
                                <option value="1">@v.ProjectName</option>

                            }
                        </select>
                    </th>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="text" class="w-75"></td>

                </tr>
                <tr>
                    <th scope="row">
                        <select class="form-select">
                            <option selected>select project</option>
                            @foreach (var v in ViewBag.ProjectData)
                            {
                                <option value="1">@v.ProjectName</option>

                            }
                        </select>
                    </th>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="text" class="w-75"></td>

                </tr>
                <tr>
                    <th scope="row">
                        <select class="form-select">
                            <option selected>select project</option>
                            @foreach (var v in ViewBag.ProjectData)
                            {
                                <option value="1">@v.ProjectName</option>

                            }
                        </select>
                    </th>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="number" class="w-50"></td>
                    <td><input type="text" class="w-75"></td>

                </tr>

            </tbody>
        </table>

        <div class="pt-3 " >
            <input type="text" class="w-50 p-4 bo" placeholder="Weekly Note......." />
            <input type="submit" value="Save Details" class="btn col bg-danger w-25 text-white pe-5 " style="padding-right:15px;" />

        </div>

    </div>
</div>

